<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!--
        Step 4: Updating the Android Manifest 2/4
        Request the location permission to access user's location
        note: to access fine location requires coarse location permission
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--
        Step 4: Updating the Android Manifest 3/4
        External storage permissions are required for Google Play services SDK versions before 8.3
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> is depreciated
    -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BCITCampusCompass"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <!--
            Step 3: Setting up the Secrets Gradle Plugin to add our API Key  9/10
            Update com.google.android.geo.API_KEY with your API key from secrets.properties
            com.google.android.geo.API_KEY Allows authentication of multiple Google Maps-based APIs
            If the meta-data tag does not exist, create one as a child of the application tag
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
        <!--
            Step 4: Updating the Android Manifest 1/4
            Embed the version of Google Play services that the application is compiled with
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!--
            Step 4: Updating the Android Manifest 4/4
            Adding the Apache HTTP Legacy Library
            Required if:
            1) Using com.google.android.gms.play-services-maps:16.0.0 or below
            2) Targeting API level 28 (Android 9.0) or above
            Otherwise: skip this declaration
        -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>